@model Core.Models.DetectionType

<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title> المريض</title>
	<link href="~/css/addpatient.css" rel="stylesheet" />
</head>
<body style="overflow-x: hidden;">
	<div class="container mt-5">
		<h2 class="mb-3"> اضافة نوع كشف جديد </h2>
		<form id="registrationForm" asp-action="Create" asp-controller="DetectionType" method="post" enctype="multipart/form-data">
			<!-- القسم الأول: معلومات المريض الشخصية -->
			<div class="mb-3">
				<label for="patientFullName" class="form-label">نوع الكشف</label>
				<input type="text" asp-for="DetectionTypeName" class="form-control" placeholder="أدخل نوع الكشف">
				<span asp-validation-for="DetectionTypeName" style=" color:red;"></span>
			</div>
			<div class="mb-3">
				<label for="patientFullName" class="form-label">سعر الكشف</label>
				<input type="text" asp-for="DetectionTypePrice" class="form-control" placeholder="سعر الكشف">
				<span asp-validation-for="DetectionTypePrice" style=" color:red;"></span>
			</div>
			<div style="text-align: center;">

				<input type="submit" class="btnadd" value="انشاء" />
			</div>
		</form>
	</div>
</body>
</html>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
